/.ionide
/.vscode
/wp-admin
/wp-includes
/wp-content/plugins
/wp-content/themes/estate-agency
/wp-content/themes/twentyseventeen
/wp-content/themes/twentytwenty
/wp-content/themes/twentynineteen
/wp-content/themes/upgrade
/wp-content/themes/uploads
/wp-content/themes/index.php
index.php
precedents.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config.php
wp-config-sample.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

#  git rm --cached -r wp-content/themes/twentynineteen